COMPOSE_PROJECT_NAME=pc-deal-hunter
APP_PORT=8080
APP_KEY=
APP_USER_NAME=PC Deal Hunter
APP_USER_EMAIL=admin@localhost
APP_USER_PASSWORD=
DB_PASSWORD=
DB_ROOT_PASSWORD=
DEAL_HUNTER_REFRESH_HOURS=6
BEST_BUY_API_KEY=
